@import url('https://fonts.googleapis.com/css?family=Orbitron');
.watchtime{
    position:absolute;
    top:38%;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;
    font-size:35px;
    font-family: 'Orbitron', sans-serif;;
}

.temp{
    height: 99.8vh;
    margin-top:-48px;
    background: linear-gradient(135deg, var(--primary),var(--secondary));
    
}