.App {
    background: linear-gradient(135deg, var(--primary),var(--secondary));
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
     border-radius: 1em;
  }
  :root{
    --primary:#b5fac7;
    --secondary:rgba(255, 255, 255, 0.623);
}

  table {
    
    border: 3px solid rgba(49, 167, 69, 0.61); 
    border-collapse: separate !important;
    border-radius: 1em;
    width: 650px;
    padding-left: 2em;
    height: 150px;
    background-color: rgba(249, 250, 250, 0.521);
  }
  .action{
    width: 70px;
    height: 30px;
    background-color: green;
    color: aliceblue;
    
  }
  
  th {
  
    
    font-size: larger;  
    border-bottom: 3px solid black;
  }
  
  td {
  
    text-align: left;
    /* text-align: center; */
  }